@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    margin: 5px 0 0 5px;
    color: aliceblue;
}

.box {
    width: 150px;
    height: 150px;
    background-color: red;
    transition-timing-function: ease;
    transition-duration: 5s;
    transition-property: width;
    display: flex;
    justify-content: center;
    align-items: center;
    border:  1px solid #0000;
    margin-bottom: 1px;
    
}


.container:hover .box {
    width: 300px;
    border-radius: 50%;
    /*transform: translateX(300px);*/
}

.ease {
    background: #181049;
    transition-timing-function: ease;

}

.ease-in {
    background: #80a52b;
    transition-timing-function:ease-in;

}

.ease-in-out {
    background: #226951;
    transition-timing-function:ease-in-out;

}

.linear{
    background: #231e4e;
    transition-timing-function: linear;


}