* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 2vw;
}
h2 {
   text-align: center;     
}

#primeiraDiv {
    margin: 10px 0px;
}

#primeiraDiv p {
    margin-bottom: 5px;
}

#divDefora  p {
    color: aqua;
}

#divDeDetro  p {
    color: brown;
}

h3 + p {
    color: indigo;
    text-decoration: underline;
}

h4 + p {
    color: chartreuse;
    text-decoration: none;
}

p & h3 {
   color: chocolate; 
}

a, li, span {
    color: red;
}