@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    border: 1px solid black;
    color: aliceblue;
    background-color: #5f1269;
    text-align: center;
    padding: 12px;
}

#menu-links {
    background-color: #341855;
    /*margin-left: 20px;*/
}

#menu-links ul{
    list-style: none;
    padding: 0;
}

#menu-links ul.menu{
    text-align: center;
}
#menu-links  ul li{
    display: inline;
    position: relative;
}

#menu-links li a{
    color: aliceblue;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    transition: all .6s;
}

#menu-links li a:hover{
    background-color: #1f0e31;
}

/*
#menu-links ul li:last-child a{
    
    background-color: #3a3a3a;
}*/

/*#menu-links ul li:last-child a:hover{
    float: right;
    background-color: #141414;
    transition: backgroud .6s;
}*/

#menu > li:nth-child(5) > a {
    float: right;
    background-color: #141414;
}

#menu-links ul ul {
    background-color: #341855;
   /* display: none;*/
    position: absolute;
    left: 0;

}


#menu-links ul li:hover ul {
    display:block;
}

#menu li ul a{


}